[submodule "CSGOModLite"]
	path = CSGOModLite
	url = ../CSGOModLite
[submodule "CSDM-ReAPI"]
	path = CSDM-ReAPI
	url = https://github.com/wopox1337/CSDM-ReAPI
[submodule "ChatAdditions"]
	path = ChatAdditions
	url = https://github.com/ChatAdditions/ChatAdditions_AMXX
